.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background: #fff;
    border-radius: 8px;
    width: 525px;
    padding: 30px 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;

    header{
        font-size: 24px;
        font-weight: 600;
    }
  }

  
 .modal-image{
    width: 35px;
    height: 35px;
 }
  
  .modal-body {
    margin: 20px 0;
  }
  
  .form-group {
    margin: 0px 0px 15px 0px;
    display: flex;
    align-items: center;
  
  }

  .form-group .label-container{
    display: flex;
    align-items: center;
    gap: 3.5px;

    svg{
        font-size: 24px;
        color: #101e5c;
    }
  }
  
  .form-group label {
    // display: flex;
    font-size: 14px;
    // margin-bottom: 5px;
  }
.form-group input {
  padding: 8px;
  border: 1px solid rgb(67, 109, 180);
  border-radius: 4px;
  outline: 0;

}

.form-group input.error-input {
  border: 1px solid red;
  background-color: #f8d7da; 
}
  .form-group .input-field{
    margin-left: auto;
    display: flex;
    flex-direction: column;
    width: 175px;
  }
  
  .modal-footer {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }
  
  .cancel-button,
  .save-button {
    padding: 10px 25px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
  
  .cancel-button {
    border: 1px solid #101e5c;
    color: #101e5c;
    background: transparent;
  }
  
  .save-button {
    background: #101e5c;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.5px;
  }
  

  .error {
    color: red;
    font-size: 0.8rem;
    // margin-top: 4px;
    // margin-left: auto;

  }